*{
    margin:0;
    padding:0;
    border:none;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-image: url('background.jpg');
    overflow: hidden;
}

.intro{
    height: 250px; /* Đặt chiều cao của div */
    background-color: #8fa4ebf4 ;
    border: 1px solid #75bbdda9;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 0px grey;
    position: absolute; /* Đặt vị trí tuyệt đối */
    top: 50%; /* Đặt top ở giữa trang */
    left: 50%; /* Đặt left ở giữa trang */
    transform: translate(-50%, -50%); /* Di chuyển div theo giữa trang */
    text-align: center; /* Căn giữa nội dung của div */
    color: #fff;
}
a{
    position: relative;
    margin-left: 80%;
    color: #fff; /* Màu chữ */
    font-size: 16px; /* Kích thước font chữ */
    font-weight: bold; /* Độ đậm của font chữ */
    display: block; /* Chuyển đổi thẻ a sang kiểu hiển thị block */
    top: 3px;
    right: 10px;
}
@keyframes slideIn {
    0% {
      transform: translateX(-100%); /* Bắt đầu từ ngoài phải của trang */
    }
    100% {
      transform: translateX(0); /* Di chuyển đến vị trí gốc */
    }
  }
  
h2 {
    animation: slideIn 1s ease-out; /* Sử dụng animation slideIn với thời gian 1 giây và dễ dàng out */
  }
  
